
  
.scroll-bar
{
   
    text-shadow: alpha($color: #000000);
    height: 70%;
    width: 900px;
    border: 1px solid grey;
    font-family: 'GestRegular', Arial, Helvetica, sans-serif;
    overflow: auto;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  .strong {
    font-size: large;
    font-weight: bold;
  }