<!------------Social Media  Section-------------------->
<div>
  <section id="social-media">

    <div class="container text-center">
      <p> {{'FIND US ON SOCIAL MEDIA'| translate}}</p>
      <div class="social-icon">
        <a href="https://www.facebook.com/profile.php?id=100084322286860
        "><img src="assets/images/facebook.png"></a>
        <a href="https://www.instagram.com/evadellaofficial/" target="_blank">
          <img src="assets/images/insta.png" alt="Instagram"></a>
          <a href="#"><img src="assets/images/tweet.png"></a>
          <a href="#"><img src="assets/images/whatsapp.png"></a>
          <a href="#"><img src="assets/images/linked.png"></a>
          <a href="#"><img src="assets/images/snap.png"></a>
      </div>
    </div>
  </section>

  <!------------Social Media  Section Ends-------------------->

  <!------------Footer Section-------------------->

  <section id="footer">
    <img src="assets/images/wave5.png" class="footer-img">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-box">
          <p><b> {{'FOOTER'| translate}}</b></p>
          <p>{{'Enjoy Customer-Friendly Features Like Easy Return Policy Try and Buy Option & More'| translate}}.
            {{'Choose From a Wide Range Of'| translate}}.5{{'Lakhs Styles'| translate}}.
            2000+{{'Brands'| translate}}.{{'Premium Brands'| translate}}. 30{{'Days Return'| translate}}</p>
        </div>
        <div class="col-md-4 footer-box">
          <p><b>{{'CONTACT US'| translate}}</b></p>
          <p><i class="fa fa-map-marker" aria-hidden="true"></i> {{'Narsingi Road, Hyderabad'| translate}} </p>
          <p><i class="fa fa-phone" aria-hidden="true"></i> +91 9876543210 </p>
          <p><i class="fa fa-envelope-o" aria-hidden="true"></i> giftforu&#64;gmail.com </p>


        </div>
        <!-- <div class="col-md-4 footer-box">
        <p><b>{{'SUBSCRIBE LETTER'| translate}}</b></p>
        <input type="text" class="form-control" placeholder="{{'Your Email'| translate}}">
        <button type="button" class="btn btn-primary">{{'Subscribe'| translate}}</button>
      </div> -->
      </div>
      <hr>
      <p class="copyrights">{{'Copyright'| translate}}</p>
    </div>
  </section>
</div>
<!------------Footer Section Ends-------------------->