.box{
   
    margin-top: 70px;

}

  .row{
    margin-left: 200px;

}
  .col-2{
    padding: 0px;
    margin-left: 70px;
  }
  
  .textarea{
    width: 280px;
    margin-left: 50px;
  }
  .button{
    margin-left: 600px;
    margin-top: 20px;
    width: 500px;
  
  }
  .invalid{
    color: red;
  }
  #toggle{
   margin-left:760px;
   margin-top: -50px;
  }
  .select{
    font-size: medium;
    margin-left: -50px;
    margin-top: 0px;
  }
  input[disabled] {
  cursor: not-allowed;
  }
  .Skuimgs{
      margin-left: 260px;
    // margin-top: 30px;
   }
   
   .images{
    display:inline-flex;
    margin-left: -250px;
    
   }
   .img1{
    margin-left: 270px;
   }
  .crossmark{
    margin-left: 350px;
    // margin-top: 10px;
    color: aqua;
    position: absolute;
  }
  #editbtn{
  margin-left: 900px;
  width: 100px;
  margin-top: -35px;
  position: absolute;
}
#addoptbtn{
  margin-left: 1050px;
  width: 160px;
  margin-top: -35px;
  position: absolute;
}
  .labelforoptions{
    font-size: 20px;
   
  }
  #labelforoptionsvalues{
    font-size: 20px;
   
  }
  .para{
    font-size: 20px;
     
  }
  #trashbin{
    margin-left: 10px;
    color: red;
  }
 .optionsize{
  font-size: 18px;
 }

 #plusicon{
  margin-left: 180px;
  margin-top: -40px;
 }
#select{
  width: 160px;
  margin-left: -200px;
}
#slecet1{
 margin-top: -60px;
}

#selectors{
  display: flex;
  margin-left: 30px;
}
.slector1{
  margin-left: 20px;
  width: 200px;
}
.slector2{
  margin-left: 20px;
  width: 200px;
}



  
  
  @media only screen and (max-width: 800px) {
   
    [class*="col-2"] {
      width: 60%;
      padding: 0px;
    }
   
  
  
  }
  
  