.product-name {
    font-size: large;
}

.vendor-select {
    margin-left: 5%;
    font-size: large;
}

.search-tag-list{
    margin-left: 5%;
    font-size: large;
}

.product-description {
    font-size: large;
}

.dialog-content {
    height: auto;
}

button {
    font-size: large;
}
.ManufacturerId{
    margin-left: 20px;
    font-size: large;
}
