.product-name {
    font-size: large;
    margin-left: 9%;
}

.vendor-select {
    margin-left: 5%;
    font-size: large;
}

.search-tag-list{
    margin-left: 5%;
    font-size: large;
}

.product-description {
    font-size: large;
    margin-left: 9%;
}

.product-catalog{
margin-left: 34%;
margin-top: -100px;
}

.dialog-content {
    height: 400px;
    
}

button {
    font-size: large;
    margin-top: 100px;
}
.ManufacturerId{
    margin-left: 20px;
    font-size: large;
}
#addnewcatalogbtn{
    margin-left: 630px; 
     margin-top: -100px;
}