.options{
    margin-left: 350px;
   border-style:ridge;
   width: 700px;
   height: 550px;

}

.variant{
    margin-left: 120px;
    margin-top: 70px;
    font-style:initial;
    font-size: 25px;
    
}
.row{
    margin-top: 30px;
    margin-left: 100px;
   padding-right: 50px;
}

.add_btn{
    margin-left: 500px;
    margin-top: -50px;
}
#value{
    height: 40px;
}


