<div style=" height: 100%;background-color:rgb(251, 241, 241)">
  <div class="container-fluid mt-3">
    <div>
      <a routerLink="../" style="color: black;"><fa-icon [icon]="faArrowLeft" size="2x"
          class="fa-regular"></fa-icon></a>
      <fa-icon [icon]="faSave" size="2x" class="fal" style="margin-left: 20px;"></fa-icon>
    </div>

    <div>
      <button type="button" class="btn "  (click)="onSelect(productData.productId)" id="addnewproductskubtn">Add New Product
        Sku</button>

    </div>
    <div class="row">
      <div class="col-sm-4 p-3" style="background-color:rgb(218, 136, 35);">
        <div class="form-group">
          <fieldset>
            <h1>Product Details</h1>
            <label class="form-label field-labels" for="readOnlyInput">Product Name</label>
            <input class="form-control product_name" id="readOnlyInput" type="text"
              placeholder={{productData.productName}} readonly="">
          </fieldset>
        </div>
        <div class="form-group">
          <fieldset style="margin-top: 10px;">
            <label class="form-label field-labels" for="readOnlyInput">Vendor Name</label>
            <input class="form-control product_name" id="readOnlyInput" type="text"
              placeholder={{productData.manufacturerName}} readonly="">
          </fieldset>
        </div>
        <div class="form-group">
          <label for="prodDesc" class="form-label mt-4 field-labels">Product Description</label>
          <textarea class="form-control" id="prodDesc" rows="3" readonly>{{productData.productDesc}}</textarea>
        </div>

      </div>
      <div class="col-sm-8 p-3 sku-section">
        <h1>Product SKUs</h1>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">SKU Code</th>
              <th scope="col">Quantity</th>
              <th scope="col">Status</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-light" *ngFor="let sku of skuData">
              <td>
                <input class="form-control" style="width: auto" type="text" class="form-control"
                  value={{sku.productSkuCd}} [attr.disabled]="isDisabled ? true : null">

              </td>


              <td style="text-align: center; font-size: medium">
                <div class="form-outline">
                  <input type="number" class="form-control" style="width: auto;" value={{sku.count}}
                    [attr.disabled]="isDisabled ? true : null">
                </div>
              </td>
              <td style="vertical-align: middle; align-items: center;">



                <span style="margin-left: 10px; font-size: medium; margin-top: auto;">{{sku.status}}</span>
              </td>




              <td style="text-align: center; vertical-align: middle;">
                <a [routerLink]="['/admin/product-view',id,sku.productSkuId]">
                  <fa-icon [icon]="faEdit"></fa-icon> </a>
                <!-- (click)="goToProductSkuDetails(sku.productSkuId)" -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>