
.dialog-content{
    width: 1200px;
    height: 500px;
}
.col-3{
    margin-left: 50px;
}
.container{
    margin-top: 40px;
    margin-left: 90px;
}
#buttons{
    margin-top: 100px;
    margin-left: 500px;
    position: fixed;
}


.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
.product-catalog{
    margin-left: 150px;
    margin-top: 10px;
}



