<!-- 
<form>
  Reasons For Returning a Product<br><br>
  <input type="radio" id="r1" name="return" [(ngModel)]="radioValue" value="Incorrect Product or Size Ordered">
  <label style="margin-left: 5px;">Incorrect Product or Size Ordered</label>
  <br>
  <input type="radio" id="r2" name="return" [(ngModel)]="radioValue" value="Product No Longer Needed">
  <label style="margin-left: 5px;">Product No Longer Needed</label>
  <br>
  <input type="radio" id="r3" name="return" [(ngModel)]="radioValue" value="Product Does Not Match Description on Website or in Catalog">
  <label style="margin-left: 5px;">Product Does Not Match Description on Website or in Catalog</label>
  <br>
  <input type="radio" id="r4" name="return" [(ngModel)]="radioValue" value="Product Did Not Meet Customer's Expectations">
  <label style="margin-left: 5px;">Product Did Not Meet Customer's Expectations</label>
  <br>
  <input type="radio" id="r5" name="return" [(ngModel)]="radioValue" value="Company Shipped Wrong Product or Size">
  <label style="margin-left: 5px;">Company Shipped Wrong Product or Size</label>
  <br>
  <input type="radio" id="r6" name="return" [(ngModel)]="radioValue" value="Customer Unfamiliar with Retail Interface">
  <label style="margin-left: 5px;">Customer Unfamiliar with Retail Interface</label>
  <br>
  <input type="radio" id="r7" name="return" [(ngModel)]="radioValue" value="Customer Unfamiliar with Product">
  <label style="margin-left: 5px;">Customer Unfamiliar with Product</label>
  <br>
  <input type="radio" id="r8" name="return" [(ngModel)]="radioValue" value="Purchased During Holiday Season">
  <label style="margin-left: 5px;">Purchased During Holiday Season</label>
  <br>
  <input type="text" id="r9" placeholder="Comments (optional)">&nbsp;&nbsp;

  <button (click)="back()">Back</button>&nbsp;&nbsp;
  <button (click)="return(orderId,pskuId)">Confirm</button>

</form> -->
