<button [print]="['printstartfillingform', config]" id="printbtn">Print</button>

<form [formGroup]="startFillingform" id="form">
    <button mat-raised-button color="" mat-dialog-close  id="crossbtn">X</button>
    <h1>Fill Order</h1>
    <input type="text" placeholder="{{Orderdetails.orderId}}" formControlName="orderId"
        [(ngModel)]="Orderdetails.orderId" hidden>
    <div id="table">

        <table class="custom-table" id="printstartfillingform">
            <thead>
                <tr>
                    <th>IMAGE</th>
                    <th>PRODUCT NAME</th>
                    <th>PRODUCTSKU ID</th>
                    <th>LOCATION</th>
                    <th>QUANTITY</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orderItemDetails">
                    <td> <img src="{{imageBaseUrl}}{{item.imageUrl}}" class="image" height="110px" width="110px"></td>
                    <td>{{item.productName}}</td>
                    <td>{{item.productSkuId}}</td>
                    <td>12345678</td>
                    <td>{{item.quantity}}</td>

                </tr>

            </tbody>
        </table>
    </div>
    <div id="submittedbtns" *ngIf="startfilling">

        <button (click)="filling('startfilling')" mat-raised-button color="primary"
            (click)="startfillingaction()" [disabled]="firstformdisable">Start</button>
        <input type="text" placeholder="{{startfilling}}" formControlName="statusCd" [(ngModel)]="startfilling" hidden>
        
    </div>
</form>

<div *ngIf="secondFormPopupVisible" id="secondformmaindiv">

    <form [formGroup]="startFillingform" id="secondform">
        <div class="row">
            <div class="col-3">

                <input type="text" formControlName="orderId" class="form-control" [(ngModel)]="Orderdetails.orderId"
                    placeholder="{{Orderdetails.orderId}}" hidden>

            </div>
            <label id="enterstafflablel">Enter Staff Code: </label>
            <div class="col-3" id="staffcd">
                <input type="text" formControlName="staffCd" class="form-control">
            </div>

            <div class="col-3" id="sbmtbtn">
                <button type="submit" (click)="staffVerificationForm()" class="btn btn-success">Submit</button>
                <button mat-raised-button color="warn" mat-dialog-close style="margin-left: 20px;">Cancel</button>
            </div>
        </div>


    </form>
</div>