


<button [print]="['printstartfillingform', config]" id="printbtn">Print</button>

<form [formGroup]="startFillingform" id="form">
    <h1>Fill Order</h1>
    <input type="text" placeholder="{{Orderdetails.orderId}}" formControlName="orderId" [(ngModel)]="Orderdetails.orderId" hidden>
    <div id="table">
        
        <table class="custom-table" id="printstartfillingform">
            <thead>
                <tr>
                    <th>IMAGE</th>
                    <th>PRODUCT NAME</th>
                    <th>PRODUCTSKU ID</th>
                    <th>LOCATION</th>
                    <th>QUANTITY</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orderItemDetails">
                    <td> <img src="{{imageBaseUrl}}{{item.imageUrl}}" class="image" height="110px" width="110px"></td>
                    <td>{{item.productName}}</td>
                    <td>{{item.productSkuId}}</td>
                    <td>12345678</td>
                    <td>{{item.quantity}}</td>

                </tr>

            </tbody>
        </table>
    </div>
    <div id="submittedbtns">

        <button (click)="filling($event)" [value]="startfilling"  mat-raised-button color="primary">Start</button>
        <input type="text" placeholder="{{currentstatus}}"  formControlName="statusCd" [(ngModel)]="currentstatus" hidden>
        <button mat-raised-button color="warn" mat-dialog-close style="margin-left: 20px;">Cancel</button>
       
       
    </div>

  
   
</form>