.catalogName {
    font-size: large;
    margin-left: 5%;
}



.catalogDesc {
    font-size: large;
    margin-left: 5%;
}
.catalogLevel {
    font-size: large;
    margin-left: 5%;
}
.parentCatalogId {
    font-size: large;
    margin-left: 5%;
}

.dialog-content {
    height: 500px;
    width: 600px;
}

button {
    font-size: large;
    margin-top: 100px;
}

