


<button [print]="['printcheckqualityform', config]" id="printbtn">Print</button>
<form [formGroup]="checkqualityform" id="form">
    <h1>Check Quality</h1>
    <button mat-raised-button color="" mat-dialog-close  id="crossbtn">X</button>
    <input type="text" placeholder="{{Orderdetails.orderId}}" formControlName="orderId"
        [(ngModel)]="Orderdetails.orderId" hidden>
    <div id="table">

        <table class="custom-table" id="printcheckqualityform">
            <thead>
                <tr>
                    <th>IMAGE</th>
                    <th>PRODUCT NAME</th>
                    <th>PRODUCTSKU ID</th>
                    <th>LOCATION</th>
                    <th>QUANTITY</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orderItemDetails">
                    <td> <img src="{{imageBaseUrl}}{{item.imageUrl}}" class="image" height="110px" width="110px"></td>
                    <td>{{item.productName}}</td>
                    <td>{{item.productSkuId}}</td>
                    <td>12345678</td>
                    <td>{{item.quantity}}</td>

                </tr>

            </tbody>
        </table>
    </div>
    <div id="submittedbtns">
        
        <button (click)="checkQuality('checkquality')"  (click)="submit()" style="width: 90px;"  class="btn btn-success"[disabled]="firstformdisable" >Start</button>
        <input type="text" placeholder="{{checkquality}}"  formControlName="statusCd" [(ngModel)]="checkquality" hidden>
       
        
    </div>
</form>

<div *ngIf="secondFormPopupVisible" id="secondformmaindiv">

    <form [formGroup]="checkqualityform" id="secondform">
        <div class="row">
            <div class="col-3">

                <input type="text" formControlName="orderId" class="form-control" [(ngModel)]="Orderdetails.orderId"
                    placeholder="{{Orderdetails.orderId}}" hidden>

            </div>
            <label id="enterstafflablel">Enter Staff Code: </label>
            <div class="col-3" id="staffcd">
                <input type="number" formControlName="staffCd" class="form-control">
            </div>

            <div class="col-3" id="sbmtbtn">  
                <button type="submit" (click)="submitSecondForm()" class="btn btn-success" >Submit</button>
                <button mat-raised-button color="warn" mat-dialog-close style="margin-left: 20px;">Cancel</button>
            </div>
        </div>


    </form>
</div>