.container{
    position: relative;
    margin-top: 150px;
    background-color:white;
    height:auto;
    width: 800px;
    border: 1px solid;
  padding: 10px;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
}
#submit{
  position: relative;
  margin-left: 600px;
}
#cancel{
    position: relative;
     margin-left: 20px; 
}