<h1 mat-dialog-title style="margin-left: 430px;">Add New Staff</h1>
<button mat-raised-button color="" mat-dialog-close id="crossbtn">X</button>
<div mat-dialog-content class="dialog-content" id="form">
    <form [formGroup]="addstaffform">
        <div>
            <div>
                <mat-form-field class="catalogName">
                    <mat-label>Staff Name</mat-label>
                    <input matInput formControlName="staffName">
                    <div *ngIf="submitted && addstaffform.get('staffName').invalid">
                    </div>
                </mat-form-field>


                <mat-form-field class="catalogDesc">
                    <mat-label>Email Id</mat-label>
                    <input matInput formControlName="emailId">
                    <div *ngIf="submitted && addstaffform.get('emailId').invalid">
                    </div>
                </mat-form-field>

                <mat-form-field class="mobileNo">
                    <mat-label>Mobile Number</mat-label>
                    <input matInput formControlName="mobileNo">
                    <div *ngIf="submitted && addstaffform.get('mobileNo').invalid">
                    </div>
                </mat-form-field>


                <mat-form-field class="pincode">
                    <mat-label>Pincode</mat-label>
                    <input matInput formControlName="pincode">
                    <div *ngIf="submitted && addstaffform.get('pincode').invalid">
                    </div>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="area">
                    <mat-label>Area</mat-label>
                    <input matInput formControlName="area">
                    <div *ngIf="submitted && addstaffform.get('area').invalid">
                    </div>
                </mat-form-field>
                <mat-form-field class="city">
                    <mat-label>City</mat-label>
                    <input matInput formControlName="city">
                    <div *ngIf="submitted && addstaffform.get('city').invalid">
                    </div>
                </mat-form-field>
                <mat-form-field class="state">
                    <mat-label>State</mat-label>
                    <input matInput formControlName="state">
                    <div *ngIf="submitted && addstaffform.get('state').invalid">
                    </div>
                </mat-form-field>


                <div formArrayName="staffRole" class="product-catalog" >
                    <mat-form-field id="selectstaffrole">
            
                      <mat-label>Select Staff Role</mat-label>
                      <mat-select multiple [(value)]="selectedstaffroles">
            
                       
                        <mat-option *ngFor="let role of staffRoleData;let i=index" [value]="role" (click)="onSelectStaffRole(i)">
                          {{role.staffRole}}
            
                        </mat-option>
            
                      </mat-select>
            
                    </mat-form-field>
                    <div *ngIf="submitted && addstaffform.get('staffRole').invalid">
                    </div>
            
                  </div>
                
            </div>
            <div>

                <mat-form-field class="dob">
                    <mat-label>DOB</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker" id="calicon"></mat-datepicker-toggle>
                    <div *ngIf="submitted && addstaffform.get('dob').invalid">
                    </div>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="startdt">
                    <mat-label>Start Date</mat-label>
                    <input matInput [matDatepicker]="startdt" formControlName="startDt">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="startdt" id="calicon"></mat-datepicker-toggle>
                    <div *ngIf="submitted && addstaffform.get('startDt').invalid">
                    </div>
                    <mat-datepicker #startdt></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="enddt" style="height: 10px;">
                    <mat-label>End Date</mat-label>
                    <input matInput [matDatepicker]="enddt" formControlName="endDt">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="enddt" id="calicon"></mat-datepicker-toggle>
                    <!-- <div *ngIf="submitted && addstaffform.get('endDt').invalid">
                    </div> -->
                    <mat-datepicker #enddt></mat-datepicker>
                </mat-form-field>
            </div>

        </div>

        <div mat-dialog-action [align]="'center'">
            <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
            <button style="margin-left:10px" mat-raised-button color="primary" (click)="addSatff()">Submit</button>
            <div *ngIf="submitted && !addstaffform.valid">All fields are required.</div>
        </div>
    </form>
</div>