



 <form [formGroup]="finishshippingform" id="form">


    <h1 id="headding"> Finish Shipping</h1>
 
    <div class="card" class="card1">

        <div class="card-body" class="card-body1">
            <div class="row">
                <div>
                    <img src="https://media.istockphoto.com/id/1095468748/vector/qr-code-abstract-vector-modern-bar-code-sample-for-smartphone-scanning-isolated-on-white.jpg?s=612x612&w=0&k=20&c=Jnh2TAkAFm7QpaBgCyCuGbCA6nomDfk4-XiTsBhbHFk=" width="120px;" height="120px" id="scanner">
                     <b>Order Track Ref:</b>
                     <p>{{Orderdetails.orderTrackRef}}</p>
                    <b>OrderId:</b>
                    <p><input type="text" formControlName="orderId" placeholder="{{Orderdetails.orderId}}" [(ngModel)]="Orderdetails.orderId" [ngClass]="{'hide-input-border': shouldHideBorder}" readonly></p> 
                    <b>Name
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
                    <p>{{Orderdetails.firstName}}</p>
                    <b>Mobile Number &nbsp;&nbsp;&nbsp;:</b>
                    <p>{{Orderdetails.mobileNumber}}</p>

                </div>
                <div>
                    <h1 id="addrress">Address &nbsp;&nbsp;:</h1>
                    <b>Flat NO
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
                    <p>{{Orderdetails.flatNO}}</p>
                    <b>Area
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
                    <p>{{Orderdetails.area}}</p>
                    <b>City
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
                    <p>{{Orderdetails.city}}</p>
                    <b>LandMark&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
                    <p>{{Orderdetails.landmark}}</p>
                    <b>Mobile Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
                    <p>{{Orderdetails.mobileNo}}</p>
                    <b>State
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
                    <p>{{Orderdetails.state}}</p>
                    <b>PinCode&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
                    <p>{{Orderdetails.pincode}}</p>

                </div>

            </div>


        </div>
    </div>
    <div id="submittedbtns">


        <button (click)="finishShipping('finishshipping')" (click)="submit()"  mat-raised-button color="primary" 
            style="margin-left:10px;width: 90px;">Start</button>
        <input type="text" placeholder="{{finishshipping}}" formControlName="statusCd" [(ngModel)]="finishshipping" hidden>
        <button mat-raised-button color="warn" mat-dialog-close style="margin-left: 20px;">Cancel</button>
    </div>
   
</form>

<div *ngIf="secondFormPopupVisible" id="secondformmaindiv">

    <form [formGroup]="finishshippingform" id="secondform">
        <div class="row">
            <div class="col-3">

                <input type="text" formControlName="orderId" class="form-control" [(ngModel)]="Orderdetails.orderId"
                    placeholder="{{Orderdetails.orderId}}" hidden>

            </div>
            <label id="enterstafflablel">Enter Staff Code: </label>
            <div class="col-3" id="staffcd">
                <input type="text" formControlName="staffCd" class="form-control">
            </div>

            <div class="col-3" id="sbmtbtn">
                <button type="submit" (click)="submitSecondForm()" class="btn btn-success">Submit</button>

            </div>
        </div>


    </form>
</div>

