<mat-toolbar color="primary" class="mat-elevation-z8">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Dmantz</span>
    <div class="menu-container"></div>
    <a mat-flat-button color="primary" style="font-size:larger;" routerLink="./home" routerLinkActive="active-button">Home</a>
    <a mat-flat-button color="primary" style="font-size:larger;" routerLink="./products" routerLinkActive="active-button">Inventory</a>
    <a mat-flat-button color="primary" style="size: medium; font-size:larger;" routerLink="./vendors" routerLinkActive="active-button">Vendor Mgmt</a>
    <a mat-flat-button color="primary" style="font-size:larger;"  routerLink="./order-management" routerLinkActive="active-button">Operations</a>
    <a mat-flat-button color="primary" style="font-size:larger;" routerLinkActive="active-button">Admin</a>
            <button mat-icon-button class="account-icon" (click)="Logout()">
            <mat-icon>account_circle</mat-icon>
            </button>
</mat-toolbar>

