<html>
  <body>



<form id="gstform" [formGroup]="gstForm">
  <div class="container">
    <div class="row" id="dropdownrows">
      <div class="2">
        <mat-form-field >
          <mat-label [ngStyle]="getInputStyles()"> select Gstcode</mat-label>
          <mat-select formControlName="gstId" (selectionChange)="onSelectedGstCode($event)"
            [(ngModel)]="productskudetails.gstId"  [ngStyle]="getInputStyles()">

            <ng-container *ngFor="let code of Gstcode; let i = index">
              <mat-option [value]="code.gstId"[ngStyle]="getInputStyles()" >{{code.gst_code}}</mat-option>
              </ng-container>
              
          </mat-select>
          
        </mat-form-field>
       
      </div>

    </div>
  </div>
  <div id="gstsavebtn">
    <button type="submit" class="btn btn-success"
      (click)="onSubmit()">Save</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <div *ngIf="submitted && !gstForm.valid" class="text-danger">All fields are required.</div>
    <button type="submit" class="btn btn-danger" (click)="cancel()">Cancel</button>

  </div>
</form>
</body>
</html>