#table {
     width:1800px;
     margin-left: 60px;
     margin-right: 60px;
     margin-top: 30px;
     font-family: initial;
    
  }
  
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button  {
    margin-left: 1500px;
    width: 200px;
    margin-top: 90px;
    font-size: 18px;
    color: black;
    background-color: rgb(143, 204, 206);
  }
  .mat-header-cell{
    font-size: 20px;
    color: black;
    justify-content: center;
    font-weight: bold;
  }
  .mat-cell{
    font-size: 18px;

  }
  .mat-table {
    overflow: auto;
    // max-height: 500px;
  }
  h1{
    margin-left: 840px;
    position: absolute;
    margin-top: -20px;
    color: green;
    font-family: initial;
    font-size: 31px;
  }