<!-- {{details.status}}<br>
{{details.contact}}<br>
{{details.description}}<br>
{{details.created_at}}<br>
{{details.amount_refunded}}<br>
{{details.bank}}<br>
{{details.currency}}<br>
{{details.paymentId}}<br>
{{details.email}}<br>
{{details.order_id}}<br>
{{details.entity}} -->
<!-- <h1>PaymentSuccessFull</h1> -->
<!-- <button (click)="orderTracking()">Track Order</button> -->

<!-- <div class="heading">
<h1>PAYMENT SUCCESS</h1></div>
<p class="para">Thank You for Placing Order with <b style="color: aqua;">Opening Soon</b> We Appreciate Your Bussiness</p>
<p class="para1">Your Order Will Be Delivered as Scheduled and we will notify you on Email </p>
<table class="customers">
    <tr>
      <th colspan="2">Transaction Details</th>
      
      
    </tr>
    <tr>
      <td>Order Id</td>
      <td>987654</td>
      
    </tr>
    <tr>
      <td>Amount</td>
      <td>12,000</td>
      
    </tr>
       
  </table> -->
  <!-- <div class="offer">
    <a href="#"><img src="assets/images/offer.jpg"></a>
  </div> -->
  <!-- <app-footer></app-footer> -->