<form [formGroup]="startpackingform" id="form">
    <h1 id="headding">Start Packing</h1>
    <button mat-raised-button color="" mat-dialog-close  id="crossbtn">X</button>
    <div id="printbtns">

        <button [print]="['printstartpackingform', config]" id="printbtn1">Print</button>
        <br>
        <button type="button" class="printbtn2" style="margin-left: 10px;">Print Invoice</button>
    </div>
    <div class="card" class="card1">

        <div class="card-body" class="card-body1" id="printstartpackingform">
            <div class="row">
                <div>

                    <b>OrderId:</b>
                    <p><input type="text" formControlName="orderId" placeholder="{{Orderdetails.orderId}}"
                            [(ngModel)]="Orderdetails.orderId" [ngClass]="{'hide-input-border': shouldHideBorder}" readonly></p>
                    <b>Name
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
                    <p>{{Orderdetails.firstName}}</p>
                    <b>Mobile Number &nbsp;&nbsp;&nbsp;:</b>
                    <p>{{Orderdetails.mobileNumber}}</p>

                </div>
                <div>
                    <h1 id="addrress">Address &nbsp;&nbsp;:</h1>
                    <b>Flat NO
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
                    <p>{{Orderdetails.flatNO}}</p>
                    <b>Area
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
                    <p>{{Orderdetails.area}}</p>
                    <b>City
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
                    <p>{{Orderdetails.city}}</p>
                    <b>LandMark&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
                    <p>{{Orderdetails.landmark}}</p>
                    <b>Mobile Number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
                    <p>{{Orderdetails.mobileNo}}</p>
                    <b>State
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
                    <p>{{Orderdetails.state}}</p>
                    <b>PinCode&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b>
                    <p>{{Orderdetails.pincode}}</p>

                </div>

            </div>


        </div>
    </div>

    <div id="submittedbtns">


        <button (click)="startPacking('startpacking');"  class="btn btn-success" (click)="submit()"
            style="margin-left:10px;width: 90px;" [disabled]="firstformdisable">Start</button>
        <input type="text" placeholder="{{startpacking}}" formControlName="statusCd" [(ngModel)]="startpacking"
            hidden>
        
    </div>
</form>

<div *ngIf="secondFormPopupVisible" id="secondformmaindiv">

    <form [formGroup]="startpackingform" id="secondform">
        <div class="row">
            <div class="col-3">

                <input type="text" formControlName="orderId" class="form-control" [(ngModel)]="Orderdetails.orderId"
                    placeholder="{{Orderdetails.orderId}}" hidden>

            </div>
            <label id="enterstafflablel">Enter Staff Code: </label>
            <div class="col-3" id="staffcd">
                <input type="text" formControlName="staffCd" class="form-control">
            </div>

            <div class="col-3" id="sbmtbtn">
                <button type="submit" (click)="submitSecondForm()" class="btn btn-success">Submit</button>
                <button mat-raised-button color="warn" mat-dialog-close style="margin-left: 20px;">Cancel</button>
            </div>
        </div>


    </form>
</div>
