#form{
    width: 1300px;
    height: 500px;
    border: ridge 10px;
}
.card1{
    height: 200px;
    margin-top: 50px;
}
// .card-body1{
//     // display: inline-flex;

//     // margin-top: 50px;
// }
.lables{
    font-size: 15px;
    font-weight: bold;
    margin-left: 18px;
    margin-top: 20px;
  
}
#submittedbtns{
     margin-top:30px;
    margin-left: 450px;
   
   
}
#dropdown{
  margin-top: 20px;
  width: 300px;
  height: 40px;
}
h1{
  margin-left: 550px;
  color:coral
}
#printbtn{
    margin-left: 1100px;
    width: 100px;
    height: 30px;
    color: cadetblue;
    margin-top: -200px;
}

.col-3{
    margin-left: 50px;
}





