 


<form [formGroup]="Gstcodeform"  id="raji" (ngSubmit)="onSubmit()">

  <label>Gst Code:</label>
  <input type="text" formControlName="gstCode">
  <label>ProductSkuid:</label>
  <input type="text" formControlName="prductSkuId">



  <br>

  <div [formGroup]="Gsttypeform">
    <label>Gst type:</label>
    <input type="text" formControlName="gstType">
    <label>percentage:</label>
    <input type="text" formControlName="gstPercentage">
    <label>ProductSkuid:</label>
  <input type="text" formControlName="prductSkuId">
  </div>

  <button type="submit" >Submit</button>
</form>







<mat-form-field>
  <mat-label>Select Fruits</mat-label>
  <mat-select [(ngModel)]="selectedFruits" multiple>
    <mat-select-trigger>
      {{ selectedFruits.length > 0 ? selectedFruits.length + ' fruits selected' : 'Select fruits' }}
    </mat-select-trigger>
    <mat-option *ngFor="let fruit of fruits" [value]="fruit">
      {{ fruit }}
    </mat-option>
  </mat-select>
</mat-form-field>
