#main{
    margin-top: 100px;
    margin-left: 100px;
   
}
#form{
    margin-left: 400px;
    margin-top: 100px;
    border-style: ridge;
    width: 700px;
    height: 400px;
}
.btns{
    margin-left: 230px;
    margin-top: 100px;
}
#cancelbtn{
    margin-left: 20px;
}